<h1>Edit Post for <%= params[:id] %> <%= link_to "back", post_path(post) %></h1>

<%= simple_form_for @comment, :url => update_comment_path(@comment), :method => :put do |comment|%>
<%= comment.input :body, label: "comment: " %>
  <%= comment.button :submit%>
<% end %>
