<h1><%= @tag.name %></h1>
<p><%= @tag.description if @tag.description %></p>
<h2>Related Users:</h2>
<% @users.each do |user| %>
	<p><%= link_to user.name, user %>
<% end %>
<h2>Related Posts:</h2>
<% @posts.each do |post| %>
  <p><%= link_to post.title, post %> </p>
<% end %>
<%= button_to("Add Tag", add_existing_tag_path(@tag), :class => "button large", :method => :put) unless current_user.tags.include? @tag %>
