






<div class="panel panel-default">
  <div class="panel-body">
  <h2> <%= link_to @post.title, @post %> </h2>
  <p><%= @post.body %> </p>
  <p><%=link_to @user.email, @user %> </p>
  <p><%=@user.created_at %></p>
  <% if current_user == @user %>
    <%= button_to "Edit", edit_post_path(@post), :class => "button small", :method => :get %>
  <% end %>
  
  <% @comments.each do |comment| %>
  <div class="panel panel-default">
  <div class="panel-body">
  <p><%= link_to comment.user.name, comment.user %> | <%= comment.created_at %></p>
  <p><%= comment.body %> </p>
  <% if current_user.id == comment.user_id %>
      <%= button_to "Edit", edit_comment_path(comment), :class => "button small", :method => :get %>
      <%= button_to "Delete", destroy_comment_path(comment), :confirm => "Are you sure?", :class => "button small", :method => :delete %>
  <% end %>
  </div>
  </div>
  
<% end %>

  

<%= simple_form_for @comment, :url => create_comment_path(@post), :method => :post do |comment|%>
<%= comment.input :body, label: "Comment: " %>
<%= comment.button :submit%>
<% end %>
  </div>
</div>