<h1><%= @post.title %><%= link_to "back", posts_path %></h1>
<p><%= @post.body %></p>
<p>posted by: <%= @post.user.email %> | posted at: <%= @post.created_at %></p>
<p>commnents(<%= @post.comments.count %>)</p>
<% if current_user == @post.user %>
  <%= button_to "Edit", edit_post_path(@post), :class => "button small", :method => :get %>
<% end %>

<%= simple_form_for @comment, :url => create_comment_path(@post), :method => :post do |comment|%>
<%= comment.input :body, label: "Comment: " %>
<%= comment.button :submit%>
<% end %>

<% @comments.each do |comment| %>
  <p><%= comment.user.email %> | <%= comment.created_at %></p>
  <p><%= comment.body %> </p>
  <% if current_user.id == comment.user_id %>
      <%= button_to "Edit", edit_comment_path(comment), :class => "button small", :method => :get %>
      <%= button_to "Delete", destroy_comment_path(comment), :confirm => "Are you sure?", :class => "button small", :method => :delete %>
  <% end %>
<% end %>
